* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
  
}

.topnav {
  position: absolute;
  background-color: rgb(104, 104, 104);
  overflow: hidden;
  opacity: 0.5;
  z-index: 5;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Itim', cursive;
  animation-name: topnav;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}




.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav:hover {
  opacity: 1;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  z-index: -1;
}

.hero {
  background-image: url('food.jpg');
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  animation-name: img;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}


.welcome {
  flex: 1;
  color: red;
  font-size: 90px;
  font-family: "Patrick Hand", cursive;
  text-align: left;
  padding-top: 20px;
  
}
#animate1 {
  position: relative;
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes move {
  from {left: 0;}
  to{left: 430px;}
}
#animate2 {
  position: relative;
  animation-name: move2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
 margin-right: 0px;
}
@keyframes move2 {
  from {left: 0;}
  to {left: 350px;}
}

.welcome a {
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-size: 50px;
  width: 300px;
  font-family: "Patrick Hand", cursive;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.63);
  padding: 10px;
  animation-name: findOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes findOut {
  from{top: 500px;}
  to {top:50px;}
}

.welcome a:hover {
  background-color: black;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}

.content img {
  width: 40%;
  transition: 1s;
  display: inline;
  float: left;
  margin-right: 50px;
}

.content img:hover {
  width: 60%;
}

.pho, .buncha, .bundau, .bunrieu {
  font-size: 30px;
}

#more, #more2, #more3, #more4 {
  display: none;
}

#myBtn, #myBtn2, #myBtn3, #myBtn4 {
  width: 200px;
  height: 50px;
}

.content2, .content3, .content4, h3 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  display: inline-block;
}

.content2 img {
  height: 350px;
  width: 40%;
  transition: 1s;
  display: inline;
  float: left;
  margin-right: 50px;
}

.content2 img:hover {
  height: 450px;
  width: 60%;
}

.content3 img {
  width: 50%;
  transition: 1s;
  display: inline;
  float: left;
  margin-right: 50px;
}

.content3 img:hover {
  width: 65%;
}

.content4 img {
  width: 40%;
  transition: 1s;
  display: inline;
  float: left;
  margin-right: 50px;
}

.content4 img:hover {
  width: 60%;
}

h3 {
  font-size: 30px; 
}
h3 button {
  width: 200px;
  height: 50px;
}
button a {
  text-decoration: none;
  font-size: 17px;
  font-family: 'Itim', cursive;
}

#about {
  text-align: center;
  font-size: 30px;
  background-color: rgb(201, 9, 51);
  color: rgb(209, 203, 203);
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #09e61b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h5 {
  font-size: 30px;
  text-align: center;
}
#contact{
  background-color: #b9b9b9;
}
